<div   class="d-flex p-2" style=" height: 100%; width: 100%;">
    <table class="table" style="max-width: 80%; margin: auto; border: black; position: absolute; top: 250px; margin-left: 200px">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">PRICE</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th>{{product.id}}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.flavor }}</td>
          <td>{{ product.price | currency }}</td>
          <td>
            <button style="margin-right: 10px;" type="button" class="btn btn-outline-danger" (click)="handleDelete(product.id)">Delete</button>
            <button type="button" class="btn btn-outline-warning" (click)="openDialog(product)">Edit</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>


