<div class='News-footer'>
  <div class='news'>
    <span id='news-head'><b>Promotions</b></span>
    </div>
 <p class='N-text'>
 <marquee direction='left'>
  <a>• Indulge in our fresh and crispy bread every morning! Visit our bakery and get a 10% discount on your first purchase."
•
  </a>
  <span>• Quantum Computing: Companies like IBM, Google, and Microsoft are making significant strides in quantum computing, which has the potential to solve complex problems in minutes rather than years.
 </span>• Our decorated cakes are perfect to make your special moments even sweeter. Place an order now and receive a 15% discount on your next purchase.
  <span>• Virtual Reality (VR) and Augmented Reality (AR): VR and AR are increasingly being used in gaming, training, and even in medicine.
 </span>• Virtual Reality (VR) and Augmented Reality (AR): VR and AR are increasingly being used in gaming, training, and even in medicine.
  <span>• Constantine Hatzidakis: No further action against assistant referee for Andy Robertson incident
 </span>• Advanced Robotics: Robots are being developed for a variety of applications, from robot-assisted surgery to food delivery.
   </marquee>
 </p>
 </div>
