<div>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous"
  />
  <!-- Navbar -->
  <nav id="navbar">
    <ul>
      <li><a href="#welcome-section">About Me</a></li>
    </ul>
    <a href="/register" class="nav-link">Register</a>
    <a href="/list" class="nav-link">List</a>
  </nav>

  <!-- Welcome page -->
  <section id="welcome-section">
    <h1>Hey I am Ranathan</h1>
    <h2>&lt;Software Developer &#47;&gt;</h2>
  </section>


</div>
