<form #editForm="ngForm" style="border-radius: 30px;">
  <div class="form-group">
    <label style="margin: 10px;" for="id">Please enter the id:</label>
    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id" placeholder="Set the id:" required>
  </div>
  <div class="form-group">
    <label style="margin: 10px;" for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Set a new name :" required>
  </div>
  <div class="form-group">
    <label style="margin: 10px;" for="flavor">Description:</label>
    <input type="text" class="form-control" id="flavor" name="flavor" [(ngModel)]="flavor" placeholder="Set a new description :" required>
  </div>
  <div class="form-group">
    <label style="margin: 10px;" for="price">Price:</label>
    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="price" placeholder="Set a new price :" required>
  </div>
  <button style="margin-left: 20px; margin-top: 10px; margin-bottom: 30px;" type="button" class="btn btn-success" (click)="handleEditProduct()">Save Changes</button>
  <button style="margin-top: 10px; margin-left: 20px; margin-bottom: 30px;" type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
</form>
